<div class="content_box" ng-scrollbars>
	<h1 class="page_tit">用户资料详细信息 <a class="fr return_page" ng-click="returnPage()">返回</a></h1>
	<div class="contents">
		<h2 class="products_name">{{user.nickName}}（{{user.id}}）</h2>

		<!--竖排-->

		<div class="panel my_panel">

			<div class="panel-heading">
				<h3 class="panel-title fl">用户资料信息</h3>
			</div>
			<div class="panel-body">
				<!--<dl class="infor_list">-->
				<!--<dt>ID</dt>
				<dd>{{user.id}}</dd>
				<dt>昵称</dt>
				<dd>{{user.nickName}}</dd>
				<dt>性别</dt>
				<dd>{{user.genderDesc}}</dd>
				<dt>电话</dt>
				<dd>{{user.telephone}}</dd>
				<dt>邮箱</dt>
				<dd>{{user.email}}</dd>
				<dt>注册时间</dt>
				<dd>{{user.createDate}}</dd>
				<dt>最后登录时间</dt>
				<dd>{{user.lastLoginDate}}</dd>
				<dt>修改时间</dt>
				<dd>{{user.modifyDate}}</dd>
				<dt>修改人</dt>
				<dd>{{user.modifierName}}</dd>
				<dt>总积分</dt>
				<dd>{{user.userPointsTo.pointsNumber}}</dd>-->

				<!--<dd>-->
				<div class="cloumn_three clo-2 fl">
					<p class="info_box"><span class="info_name fl">ID：</span><span class="infor_val">{{user.id}}</span></p>
					<p class="info_box"><span class="info_name fl">昵称：</span><span class="infor_val">{{user.nickName}}</span></p>
					<p class="info_box"><span class="info_name fl">性别：</span><span class="infor_val">{{user.genderDesc}}</span></p>
					<p class="info_box"><span class="info_name fl">电话：</span><span class="infor_val">{{user.telephone}}</span></p>
					<p class="info_box"><span class="info_name fl">邮箱：</span><span class="infor_val">{{user.email}}</span></p>
				</div>
				<div class="cloumn_three clo-2 fl">
					<p class="info_box"><span class="info_name fl">注册时间：</span><span class="infor_val">{{user.createDate}}</span></p>
					<p class="info_box"><span class="info_name fl">最后登录时间：</span><span class="infor_val">{{user.lastLoginDate}}</span></p>
					<p class="info_box"><span class="info_name fl">修改时间：</span><span class="infor_val">{{user.modifyDate}}</span></p>
					<p class="info_box"><span class="info_name fl">修改人：</span><span class="infor_val">{{user.modifierName}}</span></p>
					<p class="info_box"><span class="info_name fl">总积分：</span><span class="infor_val">{{user.userPointsTo.pointsNumber}}</span></p>
				</div>
				<!--</dd>-->
				<!--</dl>-->
			</div>
		</div>
		<div class="panel my_panel">
			<div class="panel-heading">
				<h3 class="panel-title fl">用户其它信息</h3>
			</div>
			<div class="panel-body">
				<dl class="infor_list">

					<!--<dt>
						积分日志
						&lt;!&ndash; {{selectedTab}}&ndash;&gt;
					</dt>-->
					<dd>
						<div class="tab_tit">
							<span ng-click="selectTab('lowerLineUser')"
								  ng-class="{active:selectedTab=='lowerLineUser'}">积分日志</span>
						</div>
						<div class="tab_con">
							<div class="tab_con_item">
								<table class="table my_table">
									<thead>
									<tr>
										<th>ID</th>
										<th>积分数</th>
										<th>操作人（ID）</th>
										<th>操作事件</th>
										<th>操作时间</th>
										<th>备注</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="obj in user.userPointsTo.pointsLogTos">
										<td>{{obj.id}}</td>
										<td>{{obj.pointsNumber}}</td>
										<td>{{obj.operatorName}}({{obj.operatorId}})</td>
										<td>{{obj.pointsOperateTypeDesc}}</td>
										<td>{{obj.operateDate}}</td>
										<td>{{obj.comment}}</td>
									</tr>
									</tbody>
									<!--
									<tfoot>
										<tr>
											<td colspan="6">
												<nav class=" pagination_box">
													<p class="pagination_total fl">共 89 条数据，每页 15 条，共 6 页</p>
													<ul class="pagination fl">
														<li><a href="#">&laquo;</a></li>
														<li><a href="#">1</a></li>
														<li><a href="#">2</a></li>
														<li><a href="#">3</a></li>
														<li><a href="#">4</a></li>
														<li><a href="#">5</a></li>
														<li><a href="#">&raquo;</a></li>
													</ul>
												</nav>
											</td>
										</tr>
									</tfoot> -->
								</table>
							</div>
						</div>
					</dd>

				</dl>
			</div>
		</div>

		<!--左右排列-->
		<div class="panel my_panel fl userInfoPanel">
			<div class="panel-heading">
				<h3 class="panel-title fl">用户资料</h3>
			</div>
			<div class="panel-body">
				<!--<div class="cloumn_three">-->
					<p class="info_box"><span class="info_name fl">&nbsp;&nbsp;&nbsp;ID ：</span><span class="infor_val">{{user.id}}</span></p>
					<p class="info_box"><span class="info_name fl">昵称：</span><span class="infor_val">{{user.nickName}}</span></p>
					<p class="info_box"><span class="info_name fl">性别：</span><span class="infor_val">{{user.genderDesc}}</span></p>
					<p class="info_box"><span class="info_name fl">电话：</span><span class="infor_val">{{user.telephone}}</span></p>
					<p class="info_box"><span class="info_name fl">邮箱：</span><span class="infor_val">{{user.email}}</span></p>
					<p class="info_box fg"><span class="info_name fl">注册时间：</span><span class="infor_val">{{user.createDate}}</span></p>
					<p class="info_box"><span class="info_name fl">最后登录时间：</span><span class="infor_val">{{user.lastLoginDate}}</span></p>
					<p class="info_box"><span class="info_name fl">修改时间：</span><span class="infor_val">{{user.modifyDate}}</span></p>
					<p class="info_box"><span class="info_name fl">修改人：</span><span class="infor_val">{{user.modifierName}}</span></p>
					<p class="info_box"><span class="info_name fl">总积分：</span><span class="infor_val">{{user.userPointsTo.pointsNumber}}</span></p>
				<!--</div>-->
			</div>
		</div>
		<div class="panel my_panel" style="overflow:hidden;">
			<div class="panel-heading">
				<h3 class="panel-title fl">其他信息</h3>
			</div>
			<div class="panel-body">

				<dl class="infor_list">

					<!--<dt>
						积分日志
						&lt;!&ndash; {{selectedTab}}&ndash;&gt;
					</dt>-->
					<dd>
						<div class="tab_tit">
							<span ng-click="selectTab('lowerLineUser')"
								  ng-class="{active:selectedTab=='lowerLineUser'}">积分日志</span>
						</div>
						<div class="tab_con">
							<div class="tab_con_item">
								<table class="table my_table">
									<thead>
									<tr>
										<th>ID</th>
										<th>积分数</th>
										<th>操作人（ID）</th>
										<th>操作事件</th>
										<th>操作时间</th>
										<th>备注</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="obj in user.userPointsTo.pointsLogTos">
										<td>{{obj.id}}</td>
										<td>{{obj.pointsNumber}}</td>
										<td>{{obj.operatorName}}({{obj.operatorId}})</td>
										<td>{{obj.pointsOperateTypeDesc}}</td>
										<td>{{obj.operateDate}}</td>
										<td>{{obj.comment}}</td>
									</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="6">
												<nav class=" pagination_box">
													<p class="pagination_total fl">共 89 条数据，每页 10 条，共 6 页</p>
													<ul class="pagination fl">
														<li><a href="#">&laquo;</a></li>
														<li><a href="#">1</a></li>
														<li><a href="#">2</a></li>
														<li><a href="#">3</a></li>
														<li><a href="#">4</a></li>
														<li><a href="#">5</a></li>
														<li><a href="#">&raquo;</a></li>
													</ul>
												</nav>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</dd>

				</dl>

			</div>
		</div>

	</div>
</div>