<div class="content_box" ng-scrollbars>
	<h1 class="page_tit">采购单详情 <a class="fr return_page" ng-click="returnPage()">返回</a></h1>
	
	<div class="contents">
		<h2 class="products_name">2016122800106</h2>
		
		<div class="panel my_panel">
			<div class="panel-heading">
				<h3 class="panel-title fl">采购单详细信息</h3>
			</div>
			<div class="panel-body">
				<dl class="infor_list">
					<dt>采购单商品</dt>
					<dd>
						<table class="table my_table">
						<thead>
						<tr>
							<th>商品编号(sku编号)</th>
							<th>供应商</th>
							<th>商品货号(GoodsId)	</th>
							<th>商品名称</th>
							<th>商品图片</th>
							<th>销售属性</th>
							<th>商品数量</th>
							<th>商品价格</th>
							<th>总计</th>
						</tr>
						</thead>
							<tbody>
							<tr>
								<td>54098(263723)</td>
								<td>studi69</td>
								<td>BG026LEMINIBLACK(185686)</td>
								<td>Sophie Hulme HANDBAGS BLACK</td>
								<td><img src="images/200_200.jpg" alt="" class="order_goods_img"></td>
								<td>颜色:黑色 ,尺码:00</td>
								<td>1</td>
								<td>5525.83</td>
								<td>5525.83</td>
							</tr>
							</tbody>
						</table>
					</dd>
					<dt>采购单号</dt>
					<dd>2017010900109</dd>
					<dt>交易单号</dt>
					<dd>2017010900074</dd>
					<dt>发货单号:</dt>
					<dd>456148952</dd>
					<dt>采购单总金额</dt>
					<dd>5525.83</dd>
					<dt>采购平台</dt>
					<dd>studi69</dd>
					<dt>经销平台</dt>
					<dd>麦迈PC商城</dd>
					<dt>创建人</dt>
					<dd>Wlingling</dd>
					<dt>创建时间</dt>
					<dd>2017-01-09 14:30:34</dd>
					<dt>收货人姓名</dt>
					<dd>段力欣</dd>
					<dt>收货人电话</dt>
					<dd>18200107769</dd>
					<dt>收货人地址</dt>
					<dd>中国四川省成都市锦江区新光华街7号航天科技大厦48楼</dd>
					<dt>接收者姓名</dt>
					<dd>duanlixin</dd>
					<dt>中转仓电话</dt>
					<dd>13541370141</dd>
					<dt>中转仓邮编</dt>
					<dd>610000</dd>
					<dt>中转仓地址</dt>
					<dd>SHANGHAI MADE MAKER INTERNATIONAL TRADE CO., LTD. 48 FLOOR, 7#, NEW GUANGHUA STREET, JINJIANG DISTRICT, CHENGDU,SICHUAN, CHINA</dd>
				</dl>
			</div>
		</div>
	</div>
</div>