<div class="content_box" ng-scrollbars>
	<h1 class="page_tit">采购单</h1>
	
	<!-- 最多允许5个搜索项 -->
	<div class="operate_area clearfix">
		<div class="search_btn fr">
			<button class="me-btn"><i class="fa fa-search"></i>搜索</button>
			<!--<button class="me-btn" ng-click="createAdmin('add')"><i class="fa fa-plus"></i>新增</button>-->
		</div>
		<div class="operate_box">
			<div class="input_container fl clearfix">
				<label class="input_description fl">采购单编号:</label>
				<div class="input_box"><input type="text"></div>
			</div>
			<div class="input_container fl clearfix">
				<label class="input_description fl">创建日期:</label>
				<div class="input_box">
					<input type="text" readonly uib-datepicker-popup="yyyy-MM" ng-model="DateDayStart" show-button-bar="false"
						   datepicker-options="{minMode:'month'}" is-open="d.t" ng-click="d.t=!d.t">
				</div>
			</div>
			<div class="input_container fl clearfix">
				<label class="input_description fl">到&nbsp;&nbsp;</label>
				<div class="input_box">
					<input type="text" readonly uib-datepicker-popup="yyyy-MM-dd" ng-model="DateDayEnd" show-button-bar="false"
						   datepicker-options="{minMode:'day',showWeeks:false}" is-open="d.e" ng-click="d.e=!d.e">
				</div>
			</div>
		</div>
	</div>
	
	<div class="contents">
		<table class="table my_table">
			<thead>
			<tr>
				<th>采购单号</th>
				<th>发货单号</th>
				<th>交易单号</th>
				<th>采购单状态</th>
				<th>采购平台</th>
				<th>采购单总金额</th>
				<th>创建人</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>20248</td>
				<td>2016123000109</td>
				<td>213213</td>
				<td>ok</td>
				<td>moss</td>
				<td>5800.00</td>
				<td>wwew</td>
				<td>2016-09-08 09:09:00</td>
				<td>
					<a class="op_item" ui-sref="me.purchaseOrderDetails">详情</a>
				</td>
			</tr>
			<tr>
				<td>20248</td>
				<td>2016123000109</td>
				<td>213213</td>
				<td>ok</td>
				<td>moss</td>
				<td>5800.00</td>
				<td>wwew</td>
				<td>2016-09-08 09:09:00</td>
				<td>
					<a class="op_item" ui-sref="me.purchaseOrderDetails">详情</a>
				</td>
			</tr>
			<tr>
				<td>20248</td>
				<td>2016123000109</td>
				<td>213213</td>
				<td>ok</td>
				<td>moss</td>
				<td>5800.00</td>
				<td>wwew</td>
				<td>2016-09-08 09:09:00</td>
				<td>
					<a class="op_item" ui-sref="me.purchaseOrderDetails">详情</a>
				</td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="9">
					<nav class="fr pagination_box">
						<p class="pagination_total fl">共 89 条数据，每页 15 条，共 6 页</p>
						<ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
					</nav>
				</td>
				<td></td>
			</tr>
			</tfoot>
		</table>
	</div>

</div>