<div class="content_box">
	<h1 class="page_tit">栏目管理</h1>
	<!--<div class="column_box clearfix">-->
		<!--<div class="tree_box fl" ng-scrollbars>-->
			<div id="tree">
				<ul ng-include="'treeTemp'">
				
				</ul>
			</div>
		<!--</div>-->
		<!--<div class="tree_opt_box" ng-scrollbars>-->
			<!---->
		<!--</div>-->
	<!--</div>-->
</div>

<script id="treeTemp" type="text/ng-template">
	<li ng-repeat="item in treeData">
		<a>{{item.text}}</a>
		<ul ng-if="item.children.length" ng-include="'treeTemp'" ng-init="treeData = item.children">
			<li><a href=""></a></li>
		</ul>
	</li>
</script>