<div class="me_modal_box">
	<div class="me_modal_header"><h1 class="me_modal_tit">供应商修改</h1></div>
	<div class="me_modal_body">
		
		<!-- 禁用 -->
		<div class="editAdmin" ng-if="state=='del'">
			<p class="opt_text">是否禁用该供应商？</p>
			<div class="btn_box">
				<button class="me-btn" ng-click="saveAdmin(create)">保存</button>
				<button class="me-btn" ng-click="closeModal()">取消</button>
			</div>
		</div>
		
		<!-- 启用 -->
		<div class="editAdmin" ng-if="state=='recover'">
			<p class="opt_text">确定启用该供应商？</p>
			<div class="btn_box">
				<button class="me-btn" ng-click="saveAdmin(create)">保存</button>
				<button class="me-btn" ng-click="closeModal()">取消</button>
			</div>
		</div>
		
		<!-- 修改 -->
		<div class="editAdmin" ng-if="state=='edit'">
			<div class="input_container">
				<label class="input_description fl">供应商名称:</label>
				<div class="input_box"><input type="text"></div>
			</div>
			<div class="input_container">
				<label class="input_description fl">供应商地址:</label>
				<div class="input_box"><input type="text"></div>
			</div>
			<div class="input_container">
				<label class="input_description fl">备注:</label>
				<div class="input_box"><input type="text"></div>
			</div>
			<div class="btn_box">
				<button class="me-btn" ng-click="saveAdmin(create)">保存</button>
				<button class="me-btn" ng-click="closeModal()">取消</button>
			</div>
		</div>
		
		<!-- 创建 -->
		<div class="editAdmin" ng-if="state=='create'">
			<div class="input_container">
				<label class="input_description fl">供应商名称:</label>
				<div class="input_box"><input type="text"></div>
			</div>
			<div class="input_container">
				<label class="input_description fl">供应商地址:</label>
				<div class="input_box"><input type="text"></div>
			</div>
			<div class="input_container">
				<label class="input_description fl">备注:</label>
				<div class="input_box"><input type="text"></div>
			</div>
			<div class="btn_box">
				<button class="me-btn" ng-click="saveAdmin(create)">保存</button>
				<button class="me-btn" ng-click="closeModal()">取消</button>
			</div>
		</div>
		
	
	</div>
</div>