<div class="content_box" ng-scrollbars>
	<h1 class="page_tit">添加商品 <a class="fr return_page" ng-click="returnPage()">返回</a></h1>
	<div class="create_product">
		<div class="product_attr_item clearfix">
			<div class="product_attr_key fl">颜色</div>
			<div class="product_attr_val">
				<div class="attr_form clearfix">
					<input class="fl attr_val" type="text"> <button class="fl me-btn">添加</button>
				</div>
				<div class="val_box clearfix">
					<a href="">dsdfddf</a>
				</div>
			</div>
		</div>
		<div class="product_attr_item clearfix">
			<div class="product_attr_key fl">尺寸</div>
			<div class="product_attr_val clearfix">
				<div class="attr_form clearfix">
					<input class="fl attr_val" type="text"> <button class="fl me-btn">添加</button>
				</div>
				<div class="val_box clearfix">
					<a href="">dsdfddf</a>
				</div>
			</div>
		</div>
		
		<div class="product_attr_item clearfix">
			<div class="product_attr_key fl">商品集合</div>
			<div class="product_attr_val clearfix">
				<table class="table my_table addCommodity_tab">
					<thead>
					<tr>
						<th style="width:46px;">颜色</th>
						<th style="width:46px;">尺寸</th>
						<th>标价</th>
						<th>售价</th>
						<!--<th>税金</th>-->
						<!--<th>是否现货</th>-->
						<th>库存</th>
						<!--<th>上架日期</th>-->
						<!--<th>下架日期</th>-->
						<th style="width:112px;">封面</th>
						<th style="width:46px;">操作</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>颜色颜色</td>
						<td>颜色颜色</td>
						<td><input type="text"></td>
						<td><input type="text"></td>
						<td><input type="text"></td>
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<td>
							<div class="img_in"><img ng-show="false" src="" alt=""></div>
							<a class="seeImg">查看图片</a>
						</td>
						<td><a href="">删除</a></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><input type="text"></td>
						<td><input type="text"></td>
						<td><input type="text"></td>
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<td>
							<div class="img_in"><img ng-show="false" src="" alt=""></div>
							<a class="seeImg">查看图片</a>
						</td>
						<td><a href="">删除</a></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><input type="text"></td>
						<td><input type="text"></td>
						<td><input type="text"></td>
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<td>
							<div class="img_in"><img ng-show="false" src="" alt=""></div>
							<a class="seeImg">查看图片</a>
						</td>
						<td><a href="">删除</a></td>
					</tr>
					</tbody>
					<tfoot>
					<tr class="volume_opt">
						<td colspan="2">批量操作</td>
						<td><input type="text"></td>
						<td><input type="text"></td>
						<td><input type="text"></td>
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<!--<td><input type="text"></td>-->
						<td colspan="2">
							<div class="img_in"><img ng-show="false" src="" alt=""></div>
							<a class="seeImg">查看图片</a>
						</td>
					</tr>
					<tr>
						<td colspan="11"><button class="me-btn">确定</button><button class="me-btn">取消</button></td>
					</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>