<div class="content_box" ng-scrollbars>
	<h1 class="page_tit">修改商品 <a class="fr return_page" ng-click="returnPage()">返回</a></h1>
	<div class="create_product">
		
		<div class="product_attr_item clearfix">
			<div class="product_attr_key fl">商品信息</div>
			<div class="product_attr_val clearfix">
				<div class="input_container">
					<label class="input_description fl">产品名称</label>
					<div class="input_box"><input type="text"></div>
				</div>
				<div class="input_container">
					<label class="input_description fl">商品标价</label>
					<div class="input_box"><input type="text"></div>
				</div>
				<div class="input_container">
					<label class="input_description fl">商品售价</label>
					<div class="input_box"><input type="text"></div>
				</div>
				<div class="input_container">
					<label class="input_description fl">商品税金</label>
					<div class="input_box"><input type="text"></div>
				</div>
				<div class="input_container">
					<label class="input_description fl">是否现货</label>
					<div class="input_box"><input type="text"></div>
				</div>
				<div class="input_container">
					<label class="input_description fl">商品图片</label>
					<div class="input_box">
						<div class="img_in"><img ng-show="false" src="" alt=""></div>
						<p class="update_note">格式：jpg、png<br>大小：≤200kb<br>尺寸：500px*500px<br>数量：1 ≤ n ≤ 5</p>
					</div>
				</div>
				<div class="input_container">
					<label class="input_description fl">上架日期</label>
					<div class="input_box">
						<input type="text">
					</div>
				</div>
				<div class="input_container">
					<label class="input_description fl">下架日期</label>
					<div class="input_box">
						<input type="text">
					</div>
				</div>
				<div class="input_container">
					<label class="input_description fl">库存数</label>
					<div class="input_box"><input type="text"></div>
				</div>
			</div>
		</div>
		
		<div class="product_attr_item clearfix">
			<div class="product_attr_key fl">商品规格</div>
			<div class="product_attr_val clearfix">
				<div class="input_container">
					<label class="input_description fl">颜色</label>
					<div class="input_box"><input type="text"></div>
				</div>
				<div class="input_container">
					<label class="input_description fl">尺寸</label>
					<div class="input_box"><input type="text"></div>
				</div>
			</div>
		</div>
		
		
		<div class="btn_box">
			<button class="me-btn">保存</button>
			<button class="me-btn">取消</button>
		</div>
	
	</div>
</div>