
<!--
	wheel-propagation="false"	//如果此选项为true，则当滚动到达结尾时，鼠标滚轮事件将传播到父元素。
	wheel-speed="10"			//滚动速度适用于鼠标滚轮事件。
	min-scrollbar-length		//当设置为整数值时，滚动条的缩略图部分将不会缩小到该像素数以下。 max-scrollbar-length="200"
-->
<!--<div class="content_box" perfect-scrollbar wheel-propagation="false" wheel-speed="10" min-scrollbar-length="20">-->
<div class="content_box" ng-scrollbars>
	<h1 class="page_tit">产品详情 <a class="fr return_page" ng-click="returnPage()">返回</a></h1>
	
	<div class="contents">
		<h2 class="products_name">LANCASTER 水桶包 米白色 42218CHAMPAGNE</h2>
		
		<div class="panel my_panel">
			<div class="panel-heading">
				<h3 class="panel-title fl">产品基本信息</h3>
			</div>
			<div class="panel-body">
				<dl class="infor_list">
					<dt>产品名称</dt>
					<dd>LANCASTER 水桶包 米白色 42218CHAMPAGNE</dd>
					<dt>品牌</dt>
					<dd>
						<span class="key_value">品牌名称 <em>LANCASTER</em></span>
						<span class="key_value">品牌ID<em>3670</em></span>
					</dd>
					<dt>分类</dt>
					<dd>
						包 - 斜挎包
					</dd>
					<dt>价格</dt>
					<dd>
						<span class="key_value">标价 <em>3850</em></span>
						<span class="key_value">售价 <em>1974</em></span>
					</dd>
					<dt>适用对象</dt>
					<dd>女士</dd>
					<dt>产品封面</dt>
					<dd><img class="products_img" src="images/IMG_4400_03.jpg" alt=""></dd>
					<dt>产品标签</dt>
					<dd>
						<span class="tab_item">sdadsasda</span>
						<span class="tab_item">sdadsasda</span>
						<span class="tab_item">sdadsasda</span>
						<span class="tab_item">sdadsasda</span>
					</dd>
					<dt>包含商品</dt>
					<dd>
						<table class="table my_table">
							<thead>
							<tr>
								<th>商品ID</th>
								<th>商品规格</th>
								<th>上架日期</th>
								<th>下架日期</th>
								<th>库存</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>1781(717)</td>
								<td>米白色 U</td>
								<td>2017-01-04 00:00:00</td>
								<td>2017-12-31 00:00:00</td>
								<td>4</td>
							</tr>
							<tr>
								<td>1781(717)</td>
								<td>米白色 U</td>
								<td>2017-01-04 00:00:00</td>
								<td>2017-12-31 00:00:00</td>
								<td>4</td>
							</tr>
							<tr>
								<td>1781(717)</td>
								<td>米白色 U</td>
								<td>2017-01-04 00:00:00</td>
								<td>2017-12-31 00:00:00</td>
								<td>4</td>
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<td colspan="5"><a class="me-btn" ui-sref="me.addCommodity">添加商品</a></td>
							</tr>
							</tfoot>
						</table>
					</dd>
					
					<dt>产品简介</dt>
					<dd>
						<p class="description_text">为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间</p>
						<p class="description_text">为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间</p>
						<p class="description_text">为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间</p>
						<p class="description_text">为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间</p>
						<p class="description_text">为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间</p>
						<p class="description_text">为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间</p>
						<p class="description_text">为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间</p>
						<p class="description_text">为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间</p>
						<p class="description_text">为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间为您提供文件的网络备份、同步和分享服务。空间大、速度快、安全稳固,支持教育网加速,支持手机端。现在注册即有机会享受15G的免费存储空间</p>
					</dd>
					<dt>其他信息</dt>
					<dd>
						<div class="tab_tit">
							<span ng-click="selectTab('cpms')" ng-class="{active:selectedTab=='cpms'}">产品描述</span>
							<span ng-click="selectTab('ggcs')" ng-class="{active:selectedTab=='ggcs'}">规格参数</span>
							<span ng-click="selectTab('shfw')" ng-class="{active:selectedTab=='shfw'}">售后服务</span>
						</div>
						<div class="tab_con">
							<div class="tab_con_item" ng-show="selectedTab=='cpms'">
								材质：牛皮
								产地：中国
							</div>
							<div class="tab_con_item" ng-show="selectedTab=='ggcs'">
								232323
							</div>
							<div class="tab_con_item" ng-show="selectedTab=='shfw'">
								ssasasaassa
							</div>
						</div>
					</dd>
					
				</dl>
			</div>
			
			<div class="btn_box">
				<a class="me-btn" ui-sref="me.editProducts">修改</a>
				<button class="me-btn" ng-click="openModal('del')">删除</button>
			</div>
			
		</div>
		
		<!--<div class="panel my_panel">
			<div class="panel-heading">
				<h3 class="panel-title fl">产品编辑信息</h3>
			</div>
			<div class="panel-body">
				<dl class="infor_list">
					<dt>创建</dt>
					<dd>
						
					</dd>
					<dt>修改</dt>
					<dd>
						
					</dd>
				</dl>
			</div>
		</div>-->
		
	</div>
</div>