<div class="me_modal_box">
	<div class="me_modal_header"><h1 class="me_modal_tit">图片上传</h1></div>
	<div class="me_modal_body">
		<div class="uploadImgBox">
			<i class="fa fa-upload"></i>
		</div>
		<div class="imgCut">
			<table class="table my_table">
				<thead>
				<tr>
					<th></th>
					<th>文件名</th>
					<th>大小</th>
					<th>进度</th>
					<th>状态</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td><input type="checkbox"></td>
					<td>新建文件.doce</td>
					<td>300kb</td>
					<td></td>
					<td>上传成功</td>
					<td>
						<a class="del"><i class="fa fa-trash-o"></i></a></td>
				</tr>
				<tr>
					<td><input type="checkbox"></td>
					<td>新建文件.doce</td>
					<td>300kb</td>
					<td></td>
					<td>上传成功</td>
					<td>
						<a class="del"><i class="fa fa-trash-o"></i></a></td>
				</tr>
				<tr>
					<td><input type="checkbox"></td>
					<td>新建文件.doce</td>
					<td>300kb</td>
					<td></td>
					<td>上传成功</td>
					<td><a class="del"><i class="fa fa-trash-o"></i></a></td>
				</tr>
				</tbody>
				<tfoot>
				<td><input type="checkbox"></td>
				<td colspan="5"></td>
				</tfoot>
			</table>
		</div>
		
	</div>
</div>